body{
  font-size: 20px;
  background-color: #34495e;
  color:white;
}

.container {
  width:60%;
  margin:auto;
  overflow:hidden;
}

.block{
  float:left;
  width:33.3%;
  padding:15px;
  box-sizing: border-box;
}

#showcase{
  background-image:url('../kantinebil.jpg');
  background-position: center;
  height:120px;
}

#main-header{
  font-size:100px;
  text-align: center;
}
