h1{
  color:green;
}

body{
  background-color:#f4f4f4;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.block {
  float:left;
  width:33%;
  border:1px solid #ccc;
  padding:10px;
  box-sizing:border-box;
}
